[submodule "themes/hugo-coder-timeline"]
	path = themes/hugo-coder-timeline
	url = https://github.com/13hannes11/hugo-coder-timeline.git
[submodule "themes/spectre-pixel"]
	path = themes/spectre-pixel
	url = https://github.com/st-wong/hugo-spectre-pixel-theme.git
